* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, blue, rgb(0, 0, 143));
    height: 100vh;
}

main {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    width: 50%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

h2 {
    margin-bottom: 10px;
    padding: 15px;
}

input {
    padding: 7px;
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
    border: 2px solid rgb(59, 59, 59);
}

label{
    background-color: #d824d883;
    padding: 4px;
    border-radius: 5px;
}

section {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;

    min-width: 40vw;
    max-width: 60vw;
    border-radius: 15px;
    

}

p {
    font-size: 0.9em;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    padding: 5px;
}
