* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color:#00008f;
    height: 100vh;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    position: absolute;
}

main {
    background-color: white;
    padding: 15px;
    margin-top: 20px;
    border-radius: 15px;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 700px;
}

section {
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    display: inline-block;
    position: relative;
    padding: 15px;
    left: 50%;
    max-width: 500px;
    transform: translateX(-50%);
    margin-bottom: 20px;
}

h1, h2 {
    margin-bottom: 10px;
    padding: 15px;
    text-align: center;
}

input {
    padding: 7px;
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
    border: 2px solid rgb(59, 59, 59);
}

label{
    background-color: #d824d883;
    padding: 4px;
    border-radius: 5px;
}
.container {
    margin: auto;
    position: relative;
}




p {
    font-size: 0.9em;
    padding: 10px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

